/* This shows the order of css rules - rules from components layer will override base*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

@layer base {
  :root {
    /* SPACE SEPARATED For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary: 41deg 100% 51%;
    --hue-sat-primary: 41deg 100%;
    @apply selection:bg-primary-400 selection:text-slate-800
  }

  h1 {
    @apply text-3xl my-4;
  }

  h2 {
    @apply text-2xl my-3;
  }

  h3 {
    @apply text-xl my-2;
  }

  p {
    @apply my-2;
  }

  .footnotes h2 {
    @apply bg-red-500
  }
}

/* Extra layer to make active links style take precedence over hover */
@layer hover-priority {
  .navlink {
    @apply duration-150 px-2.5 py-0.5 rounded-full block hover:bg-primary-100 hover:dark:bg-primary-800 whitespace-nowrap;
  }
}

@layer components {
  .heading-primary {
    @apply font-medium leading-tight text-4xl mt-0 mb-2;
  }

  .navlink-active {
    @apply bg-primary-300 dark:bg-primary-400 dark:text-black
  }

  .check-path {
    d: path("M4.5 12.75l6 6 9-13.5");
  }

  .clipboard-path {
    d: path("M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184")
  }

  .metablock {
    @apply p-2 rounded bg-gray-100 dark:bg-gray-800
  }

  .metablock-heading {
    @apply text-xl font-bold pb-3
  }

  .tag-pill {
    @apply rounded-full dark:text-black text-sm px-2 py-0.5 border border-black
  }
}

.footnotes {
  @apply metablock
}

.footnotes h2 {
  @apply metablock-heading
}

.footnotes ol {
  @apply list-decimal ml-8
}

.link {
  @apply underline underline-offset-2 decoration-1 hover:decoration-2 decoration-primary-400 font-bold
}
