@import './material-tokens/baseline.css';

@import 'tailwindcss';

@variant dark (&:is(.dark *));

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@theme {
  --font-sans: Roboto flex;
  --font-opensans: Open Sans;
  --font-sedgwick-ave: Sadgewick Ave;

  --color-primary: var(--md-sys-color-primary);
  --color-on-primary: var(--md-sys-color-on-primary);
  --color-primary-container: var(--md-sys-color-primary-container);
  --color-on-primary-container: var(--md-sys-on-color-primary-container);

  --color-secondary: var(--md-sys-color-secondary);
  --color-on-secondary: var(--md-sys-color-on-secondary);
  --color-secondary-container: var(--md-sys-color-secondary-container);
  --color-on-secondary-container: var(--md-sys-on-color-secondary-container);

  --color-tertiary: var(--md-sys-color-tertiary);
  --color-on-secondary: var(--md-sys-color-on-secondary);
  --color-tertiary-container: var(--md-sys-color-tertiary-container);
  --color-on-tertiary-container: var(--md-sys-on-color-tertiary-container);

  --color-surface: var(--md-sys-color-surface);
  --color-on-surface: var(--md-sys-color-on-surface);
  --color-surface-variant: var(--md-sys-color-surface-variant);
  --color-on-surface-variant: var(--md-sys-color-on-surface-variant);

  --color-error: var(--md-sys-color-error);
  --color-on-error: var(--md-sys-color-on-error);
  --color-error-container: var(--md-sys-color-error-container);
  --color-on-error-container: var(--md-sys-color-on-error-container);

  --color-background: var(--md-sys-color-background);
  --color-on-background: var(--md-sys-color-on-background);

  --color-outline: var(--md-sys-color-outline);
  --color-outline-variant: var(--md-sys-color-outline-variant);
  --color-shadow: var(--md-sys-color-shadow);
  --color-scrim: var(--md-sys-color-scrim);

  --color-inverse-surface: var(--md-sys-color-inverse-surface);
  --color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
  --color-inverse-primary: var(--md-sys-color-inverse-primary);

  --color-primary-fixed: var(--md-sys-color-primary-fixed);
  --color-on-primary-fixed: var(--md-sys-color-on-primary-fixed);
  --color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);

  --color-secondary-fixed: var(--md-sys-color-secondary-fixed);
  --color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed);
  --color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant);

  --color-tertiary-fixed: var(--md-sys-color-tertiary-fixed);
  --color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant);

  --color-surface-dim: var(--md-sys-color-surface-dim);
  --color-surface-bright: var(--md-sys-color-surface-bright);
  --color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --color-surface-container-low: var(--md-sys-color-surface-container-low);
  --color-surface-container: var(--md-sys-color-surface-container);
  --color-surface-container-high: var(--md-sys-color-surface-container-high);
  --color-surface-container-highest: var(--md-sys-color-surface-container-highest);


  --color-primary-0: var(--md-ref-palette-primary0);
  --color-primary-5: var(--md-ref-palette-primary5);
  --color-primary-10: var(--md-ref-palette-primary10);
  --color-primary-15: var(--md-ref-palette-primary15);
  --color-primary-20: var(--md-ref-palette-primary20);
  --color-primary-25: var(--md-ref-palette-primary25);
  --color-primary-30: var(--md-ref-palette-primary30);
  --color-primary-35: var(--md-ref-palette-primary35);
  --color-primary-40: var(--md-ref-palette-primary40);
  --color-primary-50: var(--md-ref-palette-primary50);
  --color-primary-60: var(--md-ref-palette-primary60);
  --color-primary-70: var(--md-ref-palette-primary70);
  --color-primary-80: var(--md-ref-palette-primary80);
  --color-primary-90: var(--md-ref-palette-primary90);
  --color-primary-95: var(--md-ref-palette-primary95);
  --color-primary-98: var(--md-ref-palette-primary98);
  --color-primary-99: var(--md-ref-palette-primary99);
  --color-primary-100: var(--md-ref-palette-primary100);
  --color-secondary-0: var(--md-ref-palette-secondary0);
  --color-secondary-5: var(--md-ref-palette-secondary5);
  --color-secondary-10: var(--md-ref-palette-secondary10);
  --color-secondary-15: var(--md-ref-palette-secondary15);
  --color-secondary-20: var(--md-ref-palette-secondary20);
  --color-secondary-25: var(--md-ref-palette-secondary25);
  --color-secondary-30: var(--md-ref-palette-secondary30);
  --color-secondary-35: var(--md-ref-palette-secondary35);
  --color-secondary-40: var(--md-ref-palette-secondary40);
  --color-secondary-50: var(--md-ref-palette-secondary50);
  --color-secondary-60: var(--md-ref-palette-secondary60);
  --color-secondary-70: var(--md-ref-palette-secondary70);
  --color-secondary-80: var(--md-ref-palette-secondary80);
  --color-secondary-90: var(--md-ref-palette-secondary90);
  --color-secondary-95: var(--md-ref-palette-secondary95);
  --color-secondary-98: var(--md-ref-palette-secondary98);
  --color-secondary-99: var(--md-ref-palette-secondary99);
  --color-secondary-100: var(--md-ref-palette-secondary100);
  --color-tertiary-0: var(--md-ref-palette-tertiary0);
  --color-tertiary-5: var(--md-ref-palette-tertiary5);
  --color-tertiary-10: var(--md-ref-palette-tertiary10);
  --color-tertiary-15: var(--md-ref-palette-tertiary15);
  --color-tertiary-20: var(--md-ref-palette-tertiary20);
  --color-tertiary-25: var(--md-ref-palette-tertiary25);
  --color-tertiary-30: var(--md-ref-palette-tertiary30);
  --color-tertiary-35: var(--md-ref-palette-tertiary35);
  --color-tertiary-40: var(--md-ref-palette-tertiary40);
  --color-tertiary-50: var(--md-ref-palette-tertiary50);
  --color-tertiary-60: var(--md-ref-palette-tertiary60);
  --color-tertiary-70: var(--md-ref-palette-tertiary70);
  --color-tertiary-80: var(--md-ref-palette-tertiary80);
  --color-tertiary-90: var(--md-ref-palette-tertiary90);
  --color-tertiary-95: var(--md-ref-palette-tertiary95);
  --color-tertiary-98: var(--md-ref-palette-tertiary98);
  --color-tertiary-99: var(--md-ref-palette-tertiary99);
  --color-tertiary-100: var(--md-ref-palette-tertiary100);
  --color-neutral-0: var(--md-ref-palette-neutral0);
  --color-neutral-5: var(--md-ref-palette-neutral5);
  --color-neutral-10: var(--md-ref-palette-neutral10);
  --color-neutral-15: var(--md-ref-palette-neutral15);
  --color-neutral-20: var(--md-ref-palette-neutral20);
  --color-neutral-25: var(--md-ref-palette-neutral25);
  --color-neutral-30: var(--md-ref-palette-neutral30);
  --color-neutral-35: var(--md-ref-palette-neutral35);
  --color-neutral-40: var(--md-ref-palette-neutral40);
  --color-neutral-50: var(--md-ref-palette-neutral50);
  --color-neutral-60: var(--md-ref-palette-neutral60);
  --color-neutral-70: var(--md-ref-palette-neutral70);
  --color-neutral-80: var(--md-ref-palette-neutral80);
  --color-neutral-90: var(--md-ref-palette-neutral90);
  --color-neutral-95: var(--md-ref-palette-neutral95);
  --color-neutral-98: var(--md-ref-palette-neutral98);
  --color-neutral-99: var(--md-ref-palette-neutral99);
  --color-neutral-100: var(--md-ref-palette-neutral100);
  --color-neutral-variant-0: var(--md-ref-palette-neutral-variant0);
  --color-neutral-variant-5: var(--md-ref-palette-neutral-variant5);
  --color-neutral-variant-10: var(--md-ref-palette-neutral-variant10);
  --color-neutral-variant-15: var(--md-ref-palette-neutral-variant15);
  --color-neutral-variant-20: var(--md-ref-palette-neutral-variant20);
  --color-neutral-variant-25: var(--md-ref-palette-neutral-variant25);
  --color-neutral-variant-30: var(--md-ref-palette-neutral-variant30);
  --color-neutral-variant-35: var(--md-ref-palette-neutral-variant35);
  --color-neutral-variant-40: var(--md-ref-palette-neutral-variant40);
  --color-neutral-variant-50: var(--md-ref-palette-neutral-variant50);
  --color-neutral-variant-60: var(--md-ref-palette-neutral-variant60);
  --color-neutral-variant-70: var(--md-ref-palette-neutral-variant70);
  --color-neutral-variant-80: var(--md-ref-palette-neutral-variant80);
  --color-neutral-variant-90: var(--md-ref-palette-neutral-variant90);
  --color-neutral-variant-95: var(--md-ref-palette-neutral-variant95);
  --color-neutral-variant-98: var(--md-ref-palette-neutral-variant98);
  --color-neutral-variant-99: var(--md-ref-palette-neutral-variant99);
  --color-neutral-variant-100: var(--md-ref-palette-neutral-variant100);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 6rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 7rem;
  }
}

/* box-shadow: var(--md-sys-elevation-level0); */
@utility elevation-0 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0px, rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
}
/* box-shadow: var(--md-sys-elevation-level1); */
@utility elevation-1 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
/* box-shadow: var(--md-sys-elevation-level2); */
@utility elevation-2 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}
/* box-shadow: var(--md-sys-elevation-level3); */
@utility elevation-3 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
/* box-shadow: var(--md-sys-elevation-level4); */
@utility elevation-4 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
/* box-shadow: var(--md-sys-elevation-level5); */
@utility elevation-5 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px, rgba(0, 0, 0, 0.14) 0px 12px 17px 2px, rgba(0, 0, 0, 0.12) 0px 5px 22px 4px;
}

@utility primary {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
}
@utility on-primary {
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-on-primary);
}
@utility primary-container {
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}
@utility on-primary-container {
  color: var(--md-sys-color-primary-container);
  background-color: var(--md-sys-color-on-primary-container);
}
@utility secondary {
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}
@utility on-secondary {
  color: var(--md-sys-color-secondary);
  background-color: var(--md-sys-color-on-secondary);
}
@utility secondary-container {
  color: var(--md-sys-color-on-secondary-container);
  background-color: var(--md-sys-color-secondary-container);
}
@utility on-secondary-container {
  color: var(--md-sys-color-secondary-container);
  background-color: var(--md-sys-color-on-secondary-container);
}
@utility tertiary {
  color: var(--md-sys-color-on-tertiary);
  background-color: var(--md-sys-color-tertiary);
}
@utility on-tertiary {
  color: var(--md-sys-color-tertiary);
  background-color: var(--md-sys-color-on-tertiary);
}
@utility tertiary-container {
  color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
}
@utility on-tertiary-container {
  color: var(--md-sys-color-tertiary-container);
  background-color: var(--md-sys-color-on-tertiary-container);
}
@utility background {
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
}
@utility surface {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
}
@utility surface-variant {
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
}
@utility on-surface-variant {
  color: var(--md-sys-color-surface-variant);
  background-color: var(--md-sys-color-on-surface-variant);
}

@utility surface-container-lowest {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container-lowest);
}

@utility surface-container-low {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container-low);
}

@utility surface-container {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container);
}

@utility surface-container-high {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container-high);
}

@utility surface-container-highest {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container-highest);
}

@utility outline {
  border: 1px solid var(--md-sys-color-outline);
}
@utility inverse-surface {
  color: var(--md-sys-color-on-inverse-surface);
  background-color: var(--md-sys-color-inverse-surface);
}
@utility on-inverse-surface {
  color: var(--md-sys-color-inverse-surface);
  background-color: var(--md-sys-color-on-inverse-surface);
}
@utility inverse-primary {
  color: var(--md-sys-color-on-inverse-primary);
  background-color: var(--md-sys-color-inverse-primary);
}
@utility on-inverse-primary {
  color: var(--md-sys-color-inverse-primary);
  background-color: var(--md-sys-color-on-inverse-primary);
}
@utility surface-tint {
  background-color: var(--md-sys-color-on-surface-tint);
}
@utility error {
  color: var(--md-sys-color-on-error);
  background-color: var(--md-sys-color-error);
}
@utility on-error {
  color: var(--md-sys-color-error);
  background-color: var(--md-sys-color-on-error);
}
@utility error-container {
  color: var(--md-sys-color-on-error-container);
  background-color: var(--md-sys-color-error-container);
}
@utility on-error-container {
  color: var(--md-sys-color-error-container);
  background-color: var(--md-sys-color-on-error-container);
}
@utility black {
  background-color: var(--md-ref-palette-black);
}
@utility black-text {
  color: var(--md-ref-palette-black);
}
@utility white {
  background-color: var(--md-ref-palette-white);
}
@utility white-text {
  color: var(--md-ref-palette-white);
}

@utility link {
  @apply underline underline-offset-2 decoration-1 hover:decoration-2 decoration-primary font-slanted;
}

@utility list-bullet {
  li {
    list-style-type: '>'; /* other candidates: '👉' */
    padding-inline-start: 1ch;
  }
}

@utility font-slanted {
    font-variation-settings: 'slnt' -8;
}

@utility duration-50 {
  transition-duration: var(--md-sys-motion-duration-50);
}
@utility duration-100 {
  transition-duration: var(--md-sys-motion-duration-100);
}
@utility duration-150 {
  transition-duration: var(--md-sys-motion-duration-150);
}
@utility duration-200 {
  transition-duration: var(--md-sys-motion-duration-200);
}
@utility duration-250 {
  transition-duration: var(--md-sys-motion-duration-250);
}
@utility duration-300 {
  transition-duration: var(--md-sys-motion-duration-300);
}
@utility duration-350 {
  transition-duration: var(--md-sys-motion-duration-350);
}
@utility duration-400 {
  transition-duration: var(--md-sys-motion-duration-400);
}
@utility duration-450 {
  transition-duration: var(--md-sys-motion-duration-450);
}
@utility duration-500 {
  transition-duration: var(--md-sys-motion-duration-500);
}
@utility duration-550 {
  transition-duration: var(--md-sys-motion-duration-550);
}
@utility duration-600 {
  transition-duration: var(--md-sys-motion-duration-600);
}
@utility duration-700 {
  transition-duration: var(--md-sys-motion-duration-700);
}
@utility duration-800 {
  transition-duration: var(--md-sys-motion-duration-800);
}
@utility duration-900 {
  transition-duration: var(--md-sys-motion-duration-900);
}
@utility duration-1000 {
  transition-duration: var(--md-sys-motion-duration-1000);
}
@utility duration-short1 {
  transition-duration: var(--md-sys-motion-duration-50);
}
@utility duration-short2 {
  transition-duration: var(--md-sys-motion-duration-100);
}
@utility duration-short3 {
  transition-duration: var(--md-sys-motion-duration-150);
}
@utility duration-short4 {
  transition-duration: var(--md-sys-motion-duration-200);
}
@utility duration-medium1 {
  transition-duration: var(--md-sys-motion-duration-250);
}
@utility duration-medium2 {
  transition-duration: var(--md-sys-motion-duration-300);
}
@utility duration-medium3 {
  transition-duration: var(--md-sys-motion-duration-350);
}
@utility duration-medium4 {
  transition-duration: var(--md-sys-motion-duration-400);
}
@utility duration-long1 {
  transition-duration: var(--md-sys-motion-duration-450);
}
@utility duration-long2 {
  transition-duration: var(--md-sys-motion-duration-500);
}
@utility duration-long3 {
  transition-duration: var(--md-sys-motion-duration-550);
}
@utility duration-long4 {
  transition-duration: var(--md-sys-motion-duration-600);
}
@utility duration-extra-long1 {
  transition-duration: var(--md-sys-motion-duration-700);
}
@utility duration-extra-long2 {
  transition-duration: var(--md-sys-motion-duration-800);
}
@utility duration-extra-long3 {
  transition-duration: var(--md-sys-motion-duration-900);
}
@utility duration-extra-long4 {
  transition-duration: var(--md-sys-motion-duration-1000);
}
@utility easing-standard {
  transition-timing-function: cubic-bezier(
    var(--md-sys-motion-easing-standard-x0),
    var(--md-sys-motion-easing-standard-y0),
    var(--md-sys-motion-easing-standard-x1),
    var(--md-sys-motion-easing-standard-y1)
  );
}
@utility easing-linear {
  transition-timing-function: cubic-bezier(
    var(--md-sys-motion-easing-linear-x0),
    var(--md-sys-motion-easing-linear-y0),
    var(--md-sys-motion-easing-linear-x1),
    var(--md-sys-motion-easing-linear-y1)
  );
}
@utility easing-standard-accelerate {
  transition-timing-function: cubic-bezier(
    var(--md-sys-motion-easing-standard-accelerate-x0),
    var(--md-sys-motion-easing-standard-accelerate-y0),
    var(--md-sys-motion-easing-standard-accelerate-x1),
    var(--md-sys-motion-easing-standard-accelerate-y1)
  );
}
@utility easing-standard-decelerate {
  transition-timing-function: cubic-bezier(
    var(--md-sys-motion-easing-standard-decelerate-x0),
    var(--md-sys-motion-easing-standard-decelerate-y0),
    var(--md-sys-motion-easing-standard-decelerate-x1),
    var(--md-sys-motion-easing-standard-decelerate-y1)
  );
}
@utility easing-emphasized {
  transition-timing-function: cubic-bezier(
    var(--md-sys-motion-easing-emphasized-x0),
    var(--md-sys-motion-easing-emphasized-y0),
    var(--md-sys-motion-easing-emphasized-x1),
    var(--md-sys-motion-easing-emphasized-y1)
  );
}
@utility easing-emphasized-decelerate {
  transition-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1.0);
}
@utility easing-emphasized-accelerate {
  transition-timing-function: cubic-bezier(0.3, 0.0, 0.8, 0.15);
}

@layer base {
  :root {
    @apply selection:bg-tertiary-container selection:text-on-tertiary-container;
  }

  * {
    @apply border-surface-variant;
  }

  p {
    @apply my-2;
  }

  p a {
    @apply link;
  }

  .small-container {
    @apply w-full md:w-[768px] mx-auto;
  }

  .grid-rows-layout {
    grid-template-rows: auto 1fr auto;
  }
}

@layer components {

  /* Table of contents currently viewed section */
  .content-item {
    --tick: var(--md-sys-color-inverse-on-surface);
    position: relative;

    &[data-active=true] {
      --tick: var(--md-sys-color-secondary);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background-color: var(--tick);
      transition-property: background-color;
      @apply easing-linear duration-100;
    }
  }
}

.token-message {
  @apply text-white/50 ml-8;
}

.error-token {
  @apply text-red-500;
}

.warning-token {
  @apply text-yellow-500;
}

.info-token {
  @apply text-blue-500;
}

.two-line-text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* Patch line numbering on CodeSample */
.linenumber {
  min-width: 3em;
}

.three-line-text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

