/* This shows the order of css rules - rules from components layer will override base*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

@layer base {
  :root {
    /* SPACE SEPARATED For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary: 41deg 100% 51%;
    --hue-sat-primary: 41deg 100%;
    @apply selection:bg-primary-400 selection:text-slate-800
  }

  p {
    @apply my-2;
  }

  .small-container {
    @apply w-full md:w-[768px] mx-auto
  }
}

/* Extra layer to make active links style take precedence over hover */
@layer hover-priority {
  .navlink {
    @apply duration-150 px-2.5 py-1 rounded-md hover:bg-primary-100 hover:dark:bg-primary-800 whitespace-nowrap focus:ring focus:ring-primary-200;
  }
}

@layer components {
  .heading-primary {
    @apply font-medium leading-tight text-4xl mt-0 mb-2;
  }

  .navlink-active {
    @apply bg-primary-300 dark:bg-primary-400 dark:text-black
  }

  .metablock {
    @apply p-2 rounded-md bg-gray-100 dark:bg-gray-800
  }

  .metablock-heading {
    @apply text-xl font-bold pb-3
  }

  .tag-pill {
    @apply rounded-md text-black text-sm px-2.5 py-1
  }
}

.footnotes {
  @apply metablock
}

.footnotes h2 {
  @apply metablock-heading
}

.footnotes ol {
  @apply list-decimal ml-8
}

.link {
  @apply underline underline-offset-2 decoration-1 hover:decoration-2 decoration-primary-400 font-bold
}

main ul {
  @apply list-disc ml-8
}
