/* This shows the order of css rules - rules from components layer will override base*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* 
TODO refactor bg-primary-40/[.08] into elevation
https://m3.material.io/styles/color/the-color-system/color-roles
*/

@layer base {
  :root {
    @apply selection:bg-light-tertiaryContainer selection:text-light-onTertiaryContainer;
  }

  * {
    @apply border-light-surfaceVariant dark:border-dark-surfaceVariant;
  }

  body {
    @apply surface;
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    @apply text-4xl heading-primary;
  }

  h2 {
    @apply text-2xl mt-8;
  }

  .surface {
    @apply bg-light-surface text-light-onSurface dark:bg-dark-surface dark:text-dark-onSurface;
  }

  p {
    @apply my-2;
  }

  .small-container {
    @apply w-full md:w-[768px] mx-auto
  }

  /* Primary is for active states, important buttons */
  .primary {
    @apply bg-light-primary text-light-onPrimary dark:bg-dark-primary dark:text-dark-onPrimary;
  }

  .secondary {
    @apply bg-light-secondary text-light-onSecondary dark:bg-dark-secondary dark:text-dark-onSecondary;
  }

  .tertiary {
    @apply bg-light-tertiary text-light-onTertiary dark:bg-dark-tertiary dark:text-dark-onTertiary;
  }

  /* Less emphasis */
  .primary-cont {
    @apply bg-light-primaryContainer text-light-onPrimaryContainer dark:bg-dark-primaryContainer dark:text-dark-onPrimaryContainer;
  }

  .secondary-cont {
    @apply bg-light-secondaryContainer text-light-onSecondaryContainer dark:bg-dark-secondaryContainer dark:text-dark-onSecondaryContainer;
  }

  .tertiary-cont {
    @apply bg-light-tertiaryContainer text-light-onTertiaryContainer dark:bg-dark-tertiaryContainer dark:text-dark-onTertiaryContainer;
  }

  .surface-cont-lowest {
    @apply bg-light-surfaceContainerLowest text-light-onSurface dark:bg-dark-surfaceContainerLowest dark:text-dark-onSurface;
  }

  .surface-cont-low {
    @apply bg-light-surfaceContainerLow text-light-onSurface dark:bg-dark-surfaceContainerLow dark:text-dark-onSurface;
  }

  .surface-cont {
    @apply bg-light-surfaceContainer text-light-onSurface dark:bg-dark-surfaceContainer dark:text-dark-onSurface;
  }

  .surface-cont-high {
    @apply bg-light-surfaceContainerHigh text-light-onSurface dark:bg-dark-surfaceContainerHigh dark:text-dark-onSurface;
  }

  .surface-cont-highest {
    @apply bg-light-surfaceContainerHighest text-light-onSurface dark:bg-dark-surfaceContainerHighest dark:text-dark-onSurface;
  }

  .heading-underline {
    @apply underline decoration-4 underline-offset-[4px] decoration-light-primary dark:decoration-dark-primary;
  }

  /* elevation
   * https://material-components.github.io/material-components-web-catalog/#/component/elevation
   * */

  .elevation-1 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  }

  .elevation-2 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  }

  .elevation-3 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  }
}

/* Extra layer to make active links style take precedence over hover */
@layer hover-priority {
  .navlink {
    @apply font-semibold duration-150 px-3 py-1.5 rounded-md hover:bg-secondary-90 hover:dark:bg-primary-20 whitespace-nowrap focus:ring focus:ring-primary-80;
  }
}

@layer components {
  .heading-primary {
    @apply text-3xl leading-relaxed heading-underline;
  }

  .card {
    @apply rounded-xl;
  }

  .navlink-active {
    @apply secondary-cont;
  }

  .metablock {
    @apply p-2 rounded-md drop-shadow bg-white dark:bg-white/5
  }

  .metablock-heading {
    @apply text-xl font-bold pb-3
  }
}

.footnotes {
  @apply metablock
}

.footnotes h2 {
  @apply metablock-heading
}

.footnotes ol {
  @apply list-decimal ml-8
}

.link {
  @apply underline underline-offset-2 decoration-1 hover:decoration-2 decoration-primary-40 font-bold
}

.article ul {
  @apply list-disc ml-8
}

.token-message {
  @apply text-white/50 ml-3
}

.error-token {
  @apply text-red-500
}

.warning-token {
  @apply text-yellow-500
}

.info-token {
  @apply text-blue-500
}

.two-line-text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* Patch line numbering on CodeSample */
.linenumber {
  min-width: 3em;
}

.three-line-text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
