/* This shows the order of css rules - rules from components layer will override base*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* 
TODO refactor bg-primary-40/[.08] into elevation
https://m3.material.io/styles/color/the-color-system/color-roles
*/

@layer base {
  :root {
    /* SPACE SEPARATED For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary: 57deg 100% 51%;
    --hue-sat-primary: 65deg 100%;
    @apply selection:bg-primary-40 selection:text-slate-800
  }

  body {
    font-family: 'Open Sans', sans-serif;
    @apply neutral-bg
  }

  .neutral-bg {
    @apply bg-neutral-99 dark:bg-neutral-10 text-neutral-10 dark:text-neutral-99
  }

  p {
    @apply my-2;
  }

  .small-container {
    @apply w-full md:w-[768px] mx-auto
  }

  /* Primary is for active states, important buttons */
  .primary {
    @apply bg-primary-40 text-white dark:bg-primary-80 dark:text-primary-20
  }

  /* Less emphasis */
  .primary-cont {
    @apply bg-primary-90 text-primary-10 dark:bg-primary-30 dark:text-primary-90
  }

  .heading-underline {
    @apply underline decoration-4 underline-offset-[5px] decoration-primary-40 dark:decoration-primary-80
  }

  .primary-text {
    @apply text-primary-20 dark:text-primary-70
  }
}

/* Extra layer to make active links style take precedence over hover */
@layer hover-priority {
  .navlink {
    @apply font-semibold duration-150 px-3 py-1.5 rounded-md hover:bg-primary-80 hover:dark:bg-primary-20 whitespace-nowrap focus:ring focus:ring-primary-80;
  }
}

@layer components {
  .heading-primary {
    @apply text-3xl leading-relaxed heading-underline;
  }

  .card {
    @apply rounded-md drop-shadow bg-white dark:bg-white/5
  }

  .navlink-active {
    @apply primary
  }

  .metablock {
    @apply p-2 rounded-md drop-shadow bg-white dark:bg-white/5
  }

  .metablock-heading {
    @apply text-xl font-bold pb-3
  }

  .tag-pill {
    @apply rounded-md font-semibold primary text-sm px-2.5 py-1 h-7
  }
}

.footnotes {
  @apply metablock
}

.footnotes h2 {
  @apply metablock-heading
}

.footnotes ol {
  @apply list-decimal ml-8
}

.link {
  @apply underline underline-offset-2 decoration-1 hover:decoration-2 decoration-primary-40 font-bold
}

.article ul {
  @apply list-disc ml-8
}

.token-message {
  @apply text-white/50 ml-3
}

.error-token {
  @apply text-red-500
}

.warning-token {
  @apply text-yellow-500
}

.info-token {
  @apply text-blue-500
}

.two-line-text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* Patch line numbering on CodeSample */
.linenumber {
  min-width: 3em;
}
