.dark-high-contrast {
  --md-sys-color-primary: rgb(255 250 241);
  --md-sys-color-surface-tint: rgb(211 201 114);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(215 205 118);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 250 241);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(210 204 167);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(238 255 243);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(170 212 188);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 20 12);
  --md-sys-color-on-background: rgb(231 226 213);
  --md-sys-color-surface: rgb(21 20 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(73 71 58);
  --md-sys-color-on-surface-variant: rgb(255 250 241);
  --md-sys-color-outline: rgb(207 203 185);
  --md-sys-color-outline-variant: rgb(207 203 185);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 226 213);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(47 43 0);
  --md-sys-color-primary-fixed: rgb(244 233 143);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(215 205 118);
  --md-sys-color-on-primary-fixed-variant: rgb(25 23 0);
  --md-sys-color-secondary-fixed: rgb(238 232 194);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(210 204 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(25 23 2);
  --md-sys-color-tertiary-fixed: rgb(198 241 216);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(170 212 188);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 27 15);
  --md-sys-color-surface-dim: rgb(21 20 12);
  --md-sys-color-surface-bright: rgb(59 57 48);
  --md-sys-color-surface-container-lowest: rgb(15 14 7);
  --md-sys-color-surface-container-low: rgb(29 28 20);
  --md-sys-color-surface-container: rgb(33 32 23);
  --md-sys-color-surface-container-high: rgb(44 42 33);
  --md-sys-color-surface-container-highest: rgb(55 53 44);
}
